/*html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: .1rem;
}*/

/*
select{
  font-size: 15px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

th, td {
  padding: 1%;
  border: 1px solid rgb(193, 193, 193);
}



tr > td:first-child {
  background-color: gainsboro;
}

.fem {
  color: red
}

.masc {
  color: blue;
}

.neutro {
  color: green;
}

.bold {
  font-weight: bold;
}

.gray {
  background-color: gainsboro;
}

@media only screen and (max-width: 770px) {
  th {
    font-size:16px;
  }
}*/
