.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}

.catName {
  color:black;
  margin-bottom: 1%;
  font-size: 1.18rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;
  /*border-right: 1px solid red;*/
}

.col:first-child{
  /*border-left: 1px solid red;*/
}

.sujeto {
  background-color: turquoise;
}

.verbo{
  background-color: wheat;
}

.complemento {
  background-color: teal;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listItem {
  margin: 0;

}


