.navbar {
  position: fixed;
  background-color: #23232e;
  transition: width 600ms ease;
  overflow: auto;
  padding-top: 2rem;
}
.navbarNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  min-height: 100vh;
  overflow: hidden;
  
}

.navItem {
  width: 80%;
  padding: .5rem;
  border-bottom: 1px solid #818185;
  
}

.navLink {
  /*justify-content: center;*/ 
  display: flex;
  align-items: center;
  height: 2rem;
  color: #b6b6b6;
  text-decoration: none;
  /* filter: grayscale(100%) opacity(0.7); */
  transition: 600ms;
}







@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }
  .navbar:hover .link-text {
    display: inline;
  }
}
