.layoutMain {
  margin: 2% 5rem 2% 18rem;
  padding: 2rem;

}


@media only screen and (max-width: 960px) {
  .layoutMain {
    margin: 6vh 8% 8% 8%;
    padding: inherit;
  }
}
@media only screen and (max-width: 540px) {
  .layoutMain {
    margin: 6vh 2% 2% 2%;
    padding: inherit;
  }
}



